// fonts
// $fontFamily: 'Gilroy';
// $fontSize: 16px;

// colors
$white: #fff;
$black: #000;
$textColor: #3e3e3e;
$gray: #7f7f7f;

// width
// $mw1: 991.98px;
// $mw2: 767.98px;
// $mw3: 479.98px;
